@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
:root{
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --main-weight: 700;
  --secondary-weight: 400;
}
body{
  background-color: var(--light-gray);
  font-family: 'Outfit', sans-serif;
  text-align: center;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
  width: 300px;
  height: 500px;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;  
  background-color: var(--white);
}
.content > img{
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}
.paragraph1{
  font-weight: var(--main-weight);
  font-size: 22px;
  text-align: center;
  text-justify: auto;
  color: var(--dark-blue);
  margin-top: 20px;
  margin-bottom: 20px;
}
.paragraph2{
  font-weight: var(--secondary-weight);
  margin-top: 1px;
  text-align: center;
  text-justify: auto;
  color: var(--grayish-blue);
}




